* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    user-select: none;
}

.clock {
    height: 80vw;
    width: 80vw;
    max-width: 600px;
    max-height: 600px;
    background-color: #222828;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    box-shadow: 2px 2px 10px rgba(143, 142, 142, 0.6),-2px -2px 10px rgba(143, 142, 142, 0.6);
}

.num {
    color: white;
    inset: 2vw;
    position: absolute;
    text-align: center;
    transform: rotate(calc(30deg*var(--v)));
    font-size: 45px;
}

.num b {
    transform: rotate(calc(-30deg*var(--v)));
    display: inline-block;
}

.dot {
    background-color: #222828;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.8), -1px -2px 10px rgba(0, 0, 0, 0.8);
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
}

.hour-hand,
.min-hand,
.sec-hand {
    position: absolute;
    border-radius: 20px;
    transform-origin: bottom;
}

.hour-hand {
    width: 1%;
    height: 30%;
    background-color: rgb(72, 196, 218);
    top: 20.5%;
}

.min-hand {
    width: 1%;
    height: 35%;
    background-color: rgb(72, 218, 164);
    top: 15.5%;
}

.sec-hand {
    width: 1%;
    height: 40%;
    background-color: rgb(218, 72, 121);
    top: 10.5%;
}

.toggle-btn{
    position: absolute;
    top: 4%;
    right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 17px;
    color: #fff;
    border: 2px solid rgb(0, 255, 234);
    padding: 6px 14px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.toggle-btn:hover{
    background-color: rgba(0, 255, 234, 0.74);
    color: black;
}

.toggle-btn i{
    font-size: 20px;
}

.digi{
    background-color: #222828;
    height: 20vw;
    width: 80vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.5vw;
    gap: 6vw;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(143, 142, 142, 0.6), -2px -2px 10px rgba(143, 142, 142, 0.6);
    display: none;
}

.digi-h{
    color: rgb(72, 196, 218);
}

.digi-m{
    color: rgb(72, 218, 164);
}

.digi-s{
    color: rgb(218, 72, 121);
}

.colon{
    font-size: 9.5vw;
}

@media (max-width:760px) {
    .clock{
        height: 80vw;
        width: 80vw;
    }
    .num{
        font-size: 6vw;
    }
}